%u-container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - var(--container-offset) * 2);
  max-width: calc(var(--container-max-width) - var(--container-offset) * 2);
}

%u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

%u-text {
  font: var(--fw, 400) var(--fs, var(--font-size-base)) / var(--fh, 1.2) var(--font-inter);
  letter-spacing: var(--ls, -0.01em);
}

%u-heading {
  font: var(--fw, 350) var(--fs, var(--font-size-base)) / var(--lh, 1.2) var(--font-roboto-slab);
  letter-spacing: var(--ls, -0.01em);
}
