@custom-media --mq-desktop-xl only screen and (min-width: 1920px);
@custom-media --mq-desktop-lg only screen and (max-width: 1680px);
@custom-media --mq-desktop-md only screen and (max-width: 1536px);
@custom-media --mq-desktop-sm only screen and (max-width: 1280px);
@custom-media --mq-desktop-xs only screen and (max-width: 1080px);
@custom-media --mq-tablet only screen and (max-width: 987px);
@custom-media --mq-tablet-sm only screen and (max-width: 767px);
@custom-media --mq-phone only screen and (max-width: 767px) and (orientation: landscape),
  only screen and (max-width: 576px);
@custom-media --mq-phone-md only screen and (max-width: 576px);
@custom-media --mq-phone-sm only screen and (max-width: 400px);
@custom-media --mq-phone-xs only screen and (max-width: 360px);
